{% extends 'FrontEnd/base.html' %}
{% load static %}
{%block fund%}text-yellow-300{%endblock%}
{%block body%}
  <body class="leading-normal tracking-normal bg-cover bg-teal-900" > <!--style="background-image: url('background.png');" --> 

    <!--Main-->
      <div class="flex flex-wrap flex-col md:flex-row content-center mt-10 sm:mt-0 mx-5 mb-10">
      
      <!--Left Sidebar with current sponsors-->
      <div class = "flex w-full md:w-1/4 justify-center">
        <div class = "flex flex-wrap bg-white  p-4 rounded-lg shadow-lg justify-center">
          <h class = "text-2xl font-bold text-center">
            Thank you to our 2022-2023 sponsors!
          </h>
          <img class="flex m-4 w-1/2 md:w-96 mx-auto" src="{% static 'FrontEnd/img/sponsors/alaskaAirlines.png'%}" alt="Alaska Airlines">
          <img class="flex m-4 w-1/2 md:w-96 mx-auto" src="{% static 'FrontEnd/img/sponsors/beadedStream.png'%}" alt="beadedstream">
          <img class="flex m-4 w-1/2 md:w-96 mx-auto" src="{% static 'FrontEnd/img/sponsors/coffman.png'%}" alt="Coffman">
          <p class = "pt-5 text-center">
            Antonio Pennell | 
            Billy Redman | 
            Erik Williams | 
            Jacobo Franco | 
            Jayna & Sam Combs | 
            Melissa Delcarpio | 
            Robert & Melissa Branch | 
            Sean Gwaltney | 
            Steven & Jennifer Buchanan | 
            Virginia & Mark Groeschel 
          </p>
        </div>
      </div>

      <!--Top right column-->
      <div class = "flex flex-wrap md:w-3/4">
      <!--Merch-->
      <div class = "flex w-full ">
        <div class="flex w-full bg-white md:ml-5 md:mt-0 mt-5 p-10 rounded-lg items-center">
          <div class="flex w-full md:w-1/2 mr-2">
            <p class ="text-black text-4xl font-bold">
              We have merch! Purchase it
              <a href="https://my-store-d8eb7d.creator-spring.com/" class ="underline text-amber-400" target="_blank">here</a> 
              to support us.
            </p>
          </div>
          <div class="ml-5 flex flex-wrap w-1/2">
            <div class="flex  w-full lg:w-1/2">
              <img class=" m-3 w-96 rounded-lg mx-auto" src="{% static 'FrontEnd/img/fundPics/tshirt.png'%}" alt="Team members working on the VEX Robot">
            </div>
            <div class="flex w-full hidden lg:block lg:w-1/2 lg:pl-3"> <!-- This is hidden at small sizess-->
              <img class=" m-3 w-96 rounded-lg mx-auto" src="{% static 'FrontEnd/img/fundPics/hoodie.png'%}" alt="Team members working on the VEX Robot">
            </div>
          </div>
        </div>
      </div> 
      
      <!--General info-->
      <div class = "flex  w-full">
        <div class = "flex flex-wrap bg-white p-4 md:ml-5 mt-5 rounded-lg shadow-lg justify-center">
          <p class = "w-full text-lg">
            Our team has been busy designing and building two robots for the VEX U competitions. 
            We will be ready to go to competitions once we raise the funds.
            The following amounts of funding this season will determine what we are able to accomplish:
          </p>

        <!--Table for $ goal-->
        <table class="table-auto mt-10 text-black text-left">
          <thead class="border-b">
            <tr>
              <th class="pr-8">Amount (cumulative)</th>
              <th>Impact (all lower tiers include the impact of those above)</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b">
              <td class="py-5">$8,000</td>
              <td class="py-5">Allow 9 members to travel to the Tiger Town Throwdown in Clemson, South Carolina (February 4th, 2023).</td>
            </tr>
            <tr class="border-b">
              <td class="py-5">$18,000</td>
              <td class="py-5">Allow 9 members to travel to the 2022 VEX Robotics World Championship in Dallas, Texas (April 27th-29th, 2023).</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

      <!-- Progress Bar (https://flowbite.com/docs/components/progress/)-->
      <div class="w-full py-5 pt-10 text-4xl text-white">
        $18,000 <span class="text-base text-gray-300">goal for competition travel</span>
      </div>

      <div class="flex w-full bg-gray-200 rounded-full h-10 md:h-7 items-center">
        <div class="flex items-center my-auto pl-32 bg-amber-400 h-10 md:h-7 p-1 rounded-full text-xs text-white text-center " style="width: 45%">45% reached</div>
      </div>
   

          
      <!--Support Us-->
      <div class="w-full bg-white my-10 p-5 rounded-lg">
        <h1 class="w-full text-4xl"> Tax-Deductable Support</h>
        <h1 class="w-full text-xl text-amber-400">Monetary Funds</h1>
        <p class ="w-full">
          You can donate online to us through the University of Alaska Foundation by going to 
          <a href="https://bit.ly/uaaroboticssupport" class ="underline text-amber-400" target="_blank"> https://bit.ly/uaaroboticssupport</a>.
          Check donations may be mailed to the UA Foundation 
          at 1815 Bragaw St., Ste. 206 Anchorage, AK 99508. 
          Checks should be made payable to the UA Foundation and 
          “UAA Robotics Academic Support” should be noted in the check memo. 
          <br><br>
          Your monetary gift will be receipted by the University of Alaska Foundation and is 
          <b>tax-deductible to the extent allowed by law</b>. 
          Feel free to reach out to 
          <a href="mailto:uaa_icebergrobotics@alaska.edu" class ="underline"> uaa_icebergrobotics@alaska.edu</a> 
          with any questions or comments.
          <br><br>
        </p>

        <h1 class="w-full text-xl text-amber-400">Donations In-Kind</h1>
        <p class ="w-full">
          Donations in-kind are a special form of donation. 
          If you are giving a good or service, the process for acceptance is a bit different. 
          Please email a summary of the gift to be provided to 
          <a href="mailto:uaa_icebergrobotics@alaska.edu" class ="underline"> uaa_icebergrobotics@alaska.edu</a>. 
          An authorized UAA representative must formally accept your gift in order for it to be official.
          <br><br>
          As a means of practical application, your gift summary will be submitted to a club representative or the club faculty sponsor (Dr. Masoumeh Heidari). 
          Dr. Heidari, or another authorized representative, will accept the gift if it meets the internal requirements for UAA 
          (e.g. the gift is needed and we have a place to store the product).
          <br><br>
          From there you are free to give the gift, track its value, and UAA will follow up with a notice of acceptance. 
          UAA will not appraise your gift – it is your responsibility to track the value of the goods or services provided.

          Your monetary gift will be receipted by the University of Alaska Foundation and is 
          <b>tax-deductible to the extent allowed by law</b>. 
          Feel free to reach out to 
          <a href="mailto:uaa_icebergrobotics@alaska.edu" class ="underline"> uaa_icebergrobotics@alaska.edu</a> 
          with any questions or comments.
          <br><br>
        </p>


        <h1 class="w-full text-xl text-amber-400">Recognition</h1>
        <p class ="w-full">
          If you would like, we would be happy to recognize your donation by putting your name or company logo on our website 
          and on the shirts and robots that we will bring to competitions. 
          If you would like your name/logo on our shirt, please make sure to let us know you are donating by 1/1/2023 
          so that we have time to print our shirts before our first competition. 
        </p>
      </div>


    

          <!-- Funding Sources-->
          <p class="w-full pt-10 text-4xl text-white"> 2022-2023 Funding Grants & Events </p>

          <!--Pic Row-->
          <div class=" flex w-full overflow-x-scroll pt-5 items-center  ">
            
            <div class = "mx-1">
              <div class="w-96 h-96 rounded-lg overflow-hidden bg-gray-200 shadow-xl">
                <img class="object-cover w-full h-52" src="{% static 'FrontEnd/img/fundPics/vexParts.png'%}" alt=" VEX Parts">
                <div class="px-6 py-4">
                  <div class="font-bold text-xl ">UAA Special Project Fund & Club Council Fund </div>
                  <div class="mb-2">Sep 2022</div>
                  <p class="text-gray-700 text-base">
                    4,515.79 to fund the initial supplies needed for the VEX competition.
                  </p>
                </div>
              </div>
            </div>

            <div class = "mx-1">
              <div class="w-96 h-96 rounded-lg overflow-hidden bg-gray-200 shadow-xl">
                <img class="object-cover w-full h-52" src="{% static 'FrontEnd/img/fundPics/waterPolo.png'%}" alt="UAA Inner tube Water Polo">
                <div class="px-6 py-2">
                  <div class="font-bold text-xl ">UAA Innertube Water Polo Event</div>
                  <div class="mb-2">13 Oct 2022</div>
                  <p class="text-gray-700 text-base">
                    We won $150 for the team by competing and tying in a water-polo game!
                  </p>
                </div>
              </div>
            </div>

            <div class = "mx-1">
              <div class="w-96 h-96 rounded-lg overflow-hidden bg-gray-200 shadow-xl">
                <img class="object-cover w-full h-52" src="{% static 'FrontEnd/img/fundPics/volleyBake.png'%}" alt="Bake Sale">
                <div class="px-6 py-2">
                  <div class="font-bold text-xl ">Bake Sale @ Pack the House UAA Volleyball Gam</div>
                  <div class="mb-2">5 Nov 2022</div>
                  <p class="text-gray-700 text-base">
                    We raised $494.04 from selling goods and won an extra $500 from a raffle for clubs.
                  </p>
                </div>
              </div>
            </div>
            
            <div class = "mx-1">
              <div class="w-96 h-96 rounded-lg overflow-hidden bg-gray-200 shadow-xl">
                <img class="object-cover w-full h-52" src="{% static 'FrontEnd/img/fundPics/hockeyBake.png'%}" alt="Bake Sale">
                <div class="px-6 py-2">
                  <div class="font-bold text-xl ">Bake Sale @ UAA Hockey Games</div>
                  <div class="mb-2">5-6 Nov 2022</div>
                  <p class="text-gray-700 text-base">
                    We raised $510.17 and watched our home team win!
                  </p>
                </div>
              </div>
            </div>


            <div class = "mx-1">
              <div class="w-96 h-96 rounded-lg overflow-hidden bg-gray-200 shadow-xl">
                <img class="object-cover w-full h-52" src="{% static 'FrontEnd/img/fundPics/field.png'%}" alt="Field">
                <div class="px-6 py-2">
                  <div class="font-bold text-xl ">REC Grant</div>
                  <div class="mb-2">Dec 2022</div>
                  <p class="text-gray-700 text-base">
                    We won a REC grant to provide a VEX competition field and extra supplies.
                  </p>
                </div>
              </div>
            </div>


            <div class = "mx-1">
              <div class="w-96 h-96 rounded-lg overflow-hidden bg-gray-200 shadow-xl">
                <img class="object-cover w-full h-52" src="{% static 'FrontEnd/img/fundPics/flowerSale.png'%}" alt="Soldering Workshop">
                <div class="px-6 py-2">
                  <div class="font-bold text-xl ">Flower Sales at Graduation</div>
                  <div class="mb-2">18 Dec 2022</div>
                  <p class="text-gray-700 text-base">
                    We partnered with Blossoms Express to sell flowers and we raised $1,219.80!
                  </p>
                </div>
              </div>
            </div>
          </div>

        

      </div>
    </body>
    {% endblock %}