{% extends 'FrontEnd/base.html' %}
{% load static %}
{% block body%}
  <body class="leading-normal tracking-normal bg-cover bg-teal-900" > <!--style="background-image: url('background.png');" --> 

      <!--Main-->
      <div class=" flex flex-wrap flex-col md:flex-row  content-center mt-10">

        <!--Video/Intro Banner-->
        <div class="relative flex-col w-full h-96  overflow-hidden flex-row grow ">
          
          <div class="absolute z-30 flex w-3/4 md:w-2/5 align-middle flex flex-col pl-5 py-20  overflow-y-hidden">
            <h1 class="my-4 text-4xl md:text-5xl text-cyan-900 align-middle  opacity-75 font-bold leading-tight">
              Welcome to
              <span class="bg-clip-text text-transparent bg-gradient-to-r from-teal-900 via-green-600 to-yellow-500">
                UAA Iceberg Robotics
              </span>
              ...
            </h1>
            <p class="leading-normal text-base text-cyan-900 text-3xl">
              Competed in the <b> 2023 VEX U World Championship</b> as ICE1!
            </p>
          </div>
          

          <div class="absolute top-0 right-0 flex w-full h-full">
            <div class="w-1/3 h-full bg-gray-100"></div>
            <div class="relative w-1/3">
              <svg
                fill="currentColor"
                viewBox="0 0 100 100"
                class="absolute inset-y-0 z-20 h-full text-gray-100"
              >
                <polygon id="diagonal" points="0,0 100,0 50,100 0,100"></polygon>
              </svg>
              <svg
                fill="currentColor"
                viewBox="0 0 100 100"
                class="absolute inset-y-0 z-10 h-full ml-6 text-white opacity-50"
              >
                <polygon points="0,0 100,0 50,100 0,100"></polygon>
              </svg>
            </div>
          </div>

          <div class="absolute w-3/5 top-0 right-0  h-full">
            <video autoplay loop muted class="w-full  min-h-full absolute object-cover">
              <source src="{% static 'FrontEnd/img/teamwalkin.mp4'%}" type="video/mp4"/>
              Robotic driving
            </video>
          </div>
    
        </div>


        <!--Promo Video-->
        <div class = "flex flex-wrap w-full md:w-1/2 p-5 my-10 text-white">
          <iframe class="object-contain w-full aspect-video rounded-lg"
          src="https://youtube.com/embed/Scd6czB4dJc?autoplay=1&mute=1">
          </iframe>
      </div>




   

        <!--About us blurb-->
        <div class="flex items-center w-full md:w-1/2 p-12 md:my-5 overflow-hidden">
          <p class="pl-10 text-white text-xl md:text-xl lg:text-2xl  border-4 border-l-white border-transparent rounded-sm">
            <span class = "">We are </span>
            <span class = "text-cyan-300 font-bold " >UAA's College Robotics Team</span>
            <span class = ""> in Anchorage, Alaska.</span>
            <span class="">We embrace all types of creativity.</span> 
            <span class = "">If you're interested in </span>
            <span class = "text-amber-400 font-bold"> robotics, engineering, programming, marketing, or project management, </span>
            <span class = "">we're the place for you!</span>
            <span class = "">You don't have to know anything about robotics to join us.</span>
            <span class = "text-cyan-300 font-bold ">You just have to be willing to learn!</a>
            </span>
        </div>


        <div class = "flex flex-wrap bg-black w-full">

          <!--Covid bounce-back-->
          <div class="flex items-center w-full md:w-3/5  md:my-5 overflow-hidden ">
            <p class="p-10 text-white text-xl md:text-xl lg:text-2xl rounded-md bg-black">
              During the pandemic, the club came to a standstill and most of the robotics members graduated, taking their knowledge with them. 
              We’ve had to start from square one this season. However, with the support of our fellow students across many different majors (engineering, computer science, business, etc) 
              we’ve been able to grow club membership from less than 5 to over 20 members.  
              Now we have a team of committed members ready to build robots and win competitions.
            </p>
          </div>

         <!--Meeting location/time-->
          <div class="flex items-center w-full md:w-2/5 p-5 my-10" >
            <a class = "w-full text-white" href="https://goo.gl/maps/ww8NQvasEESDBqcA9" target="_blank">
              
              <div class = "flex justify-center w-full">
                <svg class="w-20 h-20 p-2 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                </svg>
              </div>

              <div class="text-center hover:text-underline transform hover:scale-105 duration-300 ease-in-out">
                <p class="font-bold text-3xl md:text-5xl ">5pm Friday Meetings<br> <br> </p>
                <p class="text-base">UAA Engineering and Industry Building: <br> Robotics Innovation Lab (<b>316</b>)</p> 
              </div>
            </a>
          </div>
      </div>

        <!--Images-->
        <div class="flex overflow-x-scroll hide-scrollbar mt-10"> <!--hide-scrollbar is NOT tailwind-->
            <img class="m-4 w-96 object-contain rounded-lg inline-block" src="{% static 'FrontEnd/img/teamPics/1.png'%}" alt="Team members working on the VEX Robot">
            <img class="m-4 w-96 object-contain rounded-lg inline-block" src="{% static 'FrontEnd/img/teamPics/2.png'%}" alt="Team members programming">
            <img class="m-4 w-96 object-contain rounded-lg inline-block" src="{% static 'FrontEnd/img/teamPics/3.png'%}" alt="Team members working on the VEX Robot">
            <img class="m-4 w-96 object-contain rounded-lg inline-block" src="{% static 'FrontEnd/img/teamPics/4.png'%}" alt="Team members working on the VEX Robot">
            <img class="m-4 w-96 object-contain rounded-lg inline-block" src="{% static 'FrontEnd/img/teamPics/5.png'%}" alt="Team members">
        </div>



      <!--statistics-->
        <div class="flex flex-wrap w-full p-4 mt-10   bg-yellow-500 text-white ">
          <div class="px-5 flex w-full  text-white text-4xl font-bold">Stats</div>
          <div class=" flex w-full flex-wrap text-yellow-500 font-bold rounded-lg">
            <div class="m-4 p-4 rounded-full bg-white "> 20+ members</div>
            <div class="m-4 p-4 rounded-full bg-white"> 50+ Alumni </div>
            <div class="m-4 p-4 rounded-full bg-white">7 years</div>
            <div class="m-4 p-4 rounded-full bg-white">4 Robots</div>
            <div class="m-4 p-4 rounded-full bg-white">∞ Great Experiences</div>
          </div>
        </div>  
      </div>
  </body>
{% endblock %}
