{% extends 'FrontEnd/base.html' %}
{% load static%}
{%block outreach%}text-yellow-300{%endblock%}
{% block body %}
  <body class="leading-normal tracking-normal bg-cover bg-teal-900" > <!--style="background-image: url('background.png');" --> 

      <!--Main-->
      <div class=" flex flex-wrap flex-col md:flex-row my-10 content-center ">

        <!--Info row-->
        <div class="flex w-full flex-wrap items-center m-8 px-5 bg-amber-400 rounded-lg md:text-xl">

          <!--Video-->
          <div class = "flex flex-wrap w-full md:w-1/2 p-5 my-10 text-white">
            <iframe class="object-contain w-full aspect-video rounded-lg"
            src="https://youtube.com/embed/m7jr7BRfQDY?autoplay=1&mute=1">
            </iframe>
          </div>

          <div class = "flex w-full md:w-1/2 p-3 flex-wrap">
              <p class="w-full text-black">
                We are invested in bringing STEM to the Alaskan community, especially focusing on K-12 students. 
                Throughout the year, we bring our robots to events in the community and help out with workshops.
                <br><br>
                If you have information about an event or opportunity that we can contribute to, please reach out to us at 
                <a href="mailto:uaa_icebergrobotics@alaska.edu" class="underline">uaa_icebergrobotics@alaska.edu</a>
              </p>

  
            <div class = "flex w-full flex-wrap text-black pt-10">
              <h class = "font-bold"> Since Fall 2022, we've reached... </h>
              <div class=" flex w-full pt-5 flex-wrap text-yellow-500 font-bold rounded-lg">
                <div class="m-2 p-2 rounded-full bg-black">400+ youth</div>
                <div class="m-2 p-2 rounded-full bg-black">200+ guardians</div>
                <div class="m-2 p-2 rounded-full bg-black">60+ UAA Students</div>
              </div>
            </div>
          </div>
          </div>


        <!--Loval Events-->
        <div class = " flex w-full flex-wrap text-white mx-10 mt-10">
          <h1 class="w-full text-4xl font-bold overline "> Local Events</h1>
        </div>

        <div class=" flex w-full overflow-x-scroll mx-4 p-4 items-center  ">
          <div class = "mx-1">
            <div class="w-96 h-96 rounded-lg overflow-hidden bg-gray-200 shadow-xl">
              <img class="object-cover w-full h-52" src="outreachPics/stemDay.png" alt="UAA STEM Day">
              <div class="px-6 py-4">
                <div class="font-bold text-xl ">UAA STEM Day</div>
                <div class="mb-2">1 Oct 2022</div>
                <p class="text-gray-700 text-base">
                  We ran a booth where we let youth control an arduino car and Sphero robots  in a maze.
                  The Nerds of the North also joined us and brought one their robots to show off.
                </p>
              </div>
            </div>
          </div>

          <div class = "mx-1">
            <div class="w-96 h-96 rounded-lg overflow-hidden bg-gray-200 shadow-xl">
              <img class="object-cover w-full h-52" src="outreachPics/halloween.png" alt="UAA Haunted Halloween Night">
              <div class="px-6 py-2">
                <div class="font-bold text-xl ">UAA Haunted Halloween Night</div>
                <div class="mb-2">29 Oct 2022</div>
                <p class="text-gray-700 text-base">
                  For our booth, youth could control an arduino car or Sphero robots in a maze.
                  They could win candy and 3D-printed minion prizes!
                </p>
              </div>
            </div>
          </div>



          <div class = "mx-1">
            <div class="w-96 h-96 rounded-lg overflow-hidden bg-gray-200 shadow-xl">
              <img class="object-cover w-full h-52" src="outreachPics/getaway.png" alt="UAA Getaway">
              <div class="px-6 py-2">
                <div class="font-bold text-xl ">UAA Getaway</div>
                <div class="mb-2">9 Dec 2022</div>
                <p class="text-gray-700 ">
                  We brought our VEX Robot to this event so that UAA Students could drive it and shoot disks.
                  (Photo taken by Taylor Heckart, a Northern Light News reporter).
                </p>
              </div>
            </div>
          </div>

        </div>

      <!--Workshops-->
      <div class = " flex w-full flex-wrap text-white mx-10 mt-10">
        <h1 class="w-full text-4xl font-bold overline "> Workshops</h1>
      </div>

      <div class=" flex w-full overflow-x-scroll mx-4 p-4 items-center  ">
          <div class = "mx-1">
            <div class="w-96 h-96 rounded-lg overflow-hidden bg-gray-200 shadow-xl">
              <img class="object-cover w-full h-52" src="outreachPics/soldering.png" alt="Soldering Workshop">
              <div class="px-6 py-2">
                <div class="font-bold text-xl ">Soldering Workshop</div>
                <div class="mb-2">7 Oct 2022</div>
                <p class="text-gray-700 text-base">
                  We partnered with the UAA Society of Women Engineers to teach UAA Students how to solder.
                  All 40 of the sign up spots were filled.
                </p>
              </div>
            </div>
          </div>

          <div class = "mx-1">
            <div class="w-96 h-96 rounded-lg overflow-hidden bg-gray-200 shadow-xl">
              <img class="object-cover w-full h-52" src="outreachPics/3dPrinting.png" alt="3D Printing Workshop">
              <div class="px-6 py-2">
                <div class="font-bold text-xl ">3D Printing Workshop</div>
                <div class="mb-2">18 Nov 2022</div>
                <p class="text-gray-700 text-base">
                  We again partnered with the UAA Society of Women Engineers to teach 3D Printing.
                </p>
              </div>
            </div>
          </div>




      </div>

        <!--Professional Societies-->
        <div class = " flex w-full flex-wrap text-white mx-10 mt-10">
          <h1 class="w-full text-4xl font-bold overline "> Professional Society Presentations</h1>
        </div>

        <div class=" flex w-full overflow-x-scroll mx-4 p-4 items-center  ">
          <div class = "mx-1">
            <div class="w-96 h-96 rounded-lg overflow-hidden bg-gray-200 shadow-xl">
              <img class="object-cover w-full h-52" src="outreachPics/SAME.png" alt="SAME">
              <div class="px-6 py-2">
                <div class="font-bold text-xl ">SAME</div>
                <div class="mb-2">23 Feb 2023</div>
                <p class="text-gray-700 ">
                  We were invited to the Anchorage Society of American Militiary Engineers to talk about robots!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </body>
    {% endblock %}